*{
    background-color: rgba(185, 212, 212, 0.378);
}
.heading{
    text-align: center;
    padding: 2rem;
    font-family: cursive;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 4rem;
    /* padding: 0 5rem; */
}
.row{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    
}
.flip-card{
    width: 12rem;
    height: 16rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* margin-left: 1rem; */
    /* margin-right: 1rem; */
}
.flip-card-front{
    width: 12rem;
    height: 16rem;
    background-color: #6f6a68;
    border-radius: 1rem;
    color: #fff;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front h2{
    background-color: #ff5722;
    padding: 0.4rem 0;
}
.flip-card-front p{
    background-color: #6f6a68;
    padding: 0 0.5rem
}
.flip-card-back{
    transform: rotateY(180deg);
    z-index: -1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-back img{
    width: 12rem;
    height: 16rem;
    border-radius: 1rem;
}
.flip-card-inner{
    position: relative;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flip-card-back, .flip-card-front{
    position: absolute;
    width: 100%;
    height: 100%;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
.footer{
    height: 3.5rem ;
    background-color: darkgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    margin-top: 3rem;
}
.footer p{
    background-color: darkgreen;
}